<html>
<head>
<script>
 	src="//tinymce.cachefly.net/4.1/tinymce.min.js"
</script>
	tinymce.init({selector:'textarea'});
<script>
</script>
</head>
<body>
<div class="header">

	<ul>
		<li>

		</li>

	</ul>

</div>
<div class="header2">
	<ul>
		<li>

		</li>
		<li>

		</li>
		<li>

		</li>
		<li>

		</li>
		<li>

		</li>

	</ul>

</div>
</body>
</html>


<style>
*{
	margin:0px;
	padding:0px;
 }

.header{
	height: 100px;
	width: 100%;
	background-color: lightgray;
	padding: 20px 10px 20px 10px;

}
.header2{
	height: 60px;
	width: 100%;
	background-color: lightgreen;
}
.header2 li:first-child{
	height: 60px;
	width:100px;
	background-color: orange;
}
</style>